.App {
  .mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: calc(100vh - 115px);
    background-color: rgb(235, 235, 235);
  }
  @media screen and (max-width: 900px) {
    .mainContainer {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
